.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-body {
  margin-top: 10px;
}

.Entry-title {
  font-size: 3em;
  font-weight: bold;
}

.Entry-body {

}

.Feed-List-Narrow {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 

.light-grey {
  color: #a5a5a5;
}

.grey {
  color: gray;
}